MYSQL_DATABASE=stylecart
MYSQL_USER=stylecart
MYSQL_PASSWORD=stylecart_dev_password
MYSQL_ROOT_PASSWORD=root_dev_password

DB_HOST=db
DB_PORT=3306
DB_NAME=stylecart
DB_USER=stylecart
DB_PASSWORD=stylecart_dev_password
PORT=4000
